.team-card {
  padding: 2rem 1.5rem;
  background-color: var(--sacramento_state_green);
}

.team-card-helper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-box {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid hsla(179, 100%, 88%);
}

.front-box,
.back-box {
  flex: 1;
  margin-bottom: 1.75rem;
}

.back-icon {
  display: none;
}

.name {
  display: block;
  font-size: 1.125rem;
  color: var(--rapture_blue);
}

.name,
.position {
  text-align: center;
}

.position {
  font-style: italic;
  display: block;
}

.team-card button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin: 0 auto -45px auto;
  background-color: var(--light-coral);
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.front-icon.icon-close1 {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.front-icon.icon-close1.show {
  transform: rotate(0);
}

.team-card-helper {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.back-box {
  position: absolute;
  background-color: var(--sacramento_state_green);
  transform: translateY(100%);
  height: 100%;
  transition: transform 0.3s ease-in;
  z-index: 1;
  text-align: center;
}

.back-box.show {
  transform: translateY(0);
}

.team-card button:hover {
  background-color: var(--rapture_blue);
}

.social__box {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__box a {
  text-decoration: none;
  color: var(--just-white);
}

.social__box a:hover {
  color: var(--light-coral);
}

@media (min-width: 768px) {
  .back-box {
    /* padding: 2.1875rem 3rem; */
  }
}
