.header {
  background: var(--midnight_green);
  color: var(--just-white);
  padding: 1.5rem;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-menu {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.4rem;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
  }

  .header-content {
    gap: 80px;
  }

  .icon-menu {
    display: none;
  }
}
